{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    {% if app.user.admin ==1 %}
        <h1>Edit User</h1>
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
        <a href="{{ path('app_admin') }}">back to list</a>
    {% else %}
        <main class="h-100 m-5 d-flex align-items-center">
            <h1> ⚠️ ERREUR  :  Vous n'êtes pas administrateur ⚠️</h1>
        </main >
    {% endif %}

{% endblock %}
